<%= render 'client/me/profile' %>
<div class="container container-mb">
  <% @invited.each do |person| %>
    <div class="card d-flex align-items-center p-3 mb-3 shadow-sm">
      <div class="d-flex flex-wrap w-100 gap-4">
        <div class="me-4 mb-2 mb-sm-0 col-12 col-sm-auto">
          <strong>Email:</strong><br>
          <%= person.email %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @invited, theme: 'bootstrap-5', previous_label: "Previous", next_label: "Next", gap: 0, window: nil %>
</div>