<%= form_with(model: @winner, url: client_me_winning_history_path) do |form| %>
  <div class="container mt-5 container-mb">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Select an Address</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <% @locations.each do |location| %>
            <div class="mb-3">
              <div class="form-check">
                <%= form.radio_button :location_id, location.id, id: "location_#{location.id}", class: "form-check-input", checked: (location.id == @default_location.id) %>
                <%= label_tag "location_#{location.id}", "Name: #{location.name}, Region: #{location.region.name}, Province: #{location.province.name}, City: #{location.city.name}, Street: #{location.street_address}, Genre: #{location.genre}", class: "form-check-label" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= form.submit 'Select Address', class: 'btn btn-success my-2' %>
      </div>
    </div>
  </div>
<% end %>