<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Edit New Item</h1>
    <%= render partial: 'form', locals: { item: @banner, custom_url: admin_banner_path(@banner) } %>
  </div>
</div>
</body>