<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>New Banner</h1>
    <%= render partial: 'form', locals: { item: @banner, custom_url: admin_banner_index_path } %>
  </div>
</div>