<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Edit Member Level</h1>
    <%= render partial: 'form', locals: { item: @member_level, custom_url: admin_member_level_path } %>
  </div>
</div>