<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Create New Member Level</h1>
    <%= render partial: 'form', locals: { item: @member_level, custom_url: admin_member_level_index_path } %>
  </div>
</div>
</body>