<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Create New Item</h1>
    <%= render partial: 'form', locals: { item: @item, custom_url: admin_item_management_index_path } %>
  </div>
</div>
</body>