<footer class="fixed-bottom bg-light">
  <div class="container">
    <div class="row text-center py-3">
      <div class="col">
        <a href="#" class="footer-link">Share</a>
      </div>
      <div class="col">
        <a href="#" class="footer-link">Invite</a>
      </div>
      <div class="col">
        <a href="#" class="footer-link">Lottery</a>
      </div>
      <div class="col">
        <a href="#" class="footer-link">Shop</a>
      </div>
      <div class="col">
        <a href="#" class="footer-link">Me</a>
      </div>
    </div>
  </div>
</footer>