<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Brand Image</a>
    <div class="ml-auto d-flex gap-3">
      <a class="nav-link" href="#">Coins</a>
      <a class="nav-link" href="#">Claim</a>
      <a class="nav-link" href="#">Language</a>
      <a class="nav-link" href="#">
        <i class="fas fa-bars"></i>
      </a>
    </div>
  </div>
</nav>