<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>Edit Offer</h1>
    <%= render partial: 'form', locals: { item: @offer, custom_url: admin_offer_path } %>
  </div>
</div>