<head>
  <title>System Management</title>
</head>
<body>
<%= render 'admin/shared/sidebar' %>

  <div class="container-fluid mt-4">
    <h1>New Offer</h1>
    <%= render partial: 'form', locals: { item: @offer, custom_url: admin_offer_index_path } %>
  </div>
</div>
</body>